{% extends 'layout.html.twig' %}

{% block content %}
    <div>
        <div class="btn-shine"> Are you ready for the game?</div>
    </div>
    <button class="start-game-btn" ><a href="/home/number">Let's go!</a></button>

{% endblock %}
